body {
    background-color: rgb(222, 248, 239);
    font-family: 'Monaco', monospace;
}

h1 {
    background-color: rgb(47, 14, 110);
    color: white;
    width: 300px;
}

p1 {
    font-size: 18px;
}

.listA {
    color: royalblue;
    font-size: large;
}

h2 {
    color: royalblue;
}

#credit {
    font-size: 13px;
}