body {
    background-color: rgb(222, 248, 239);
    font-family: 'Monaco', monospace;
}

p1 {
    font-size: 18px;
}

.bg-custom {
    background-color: rgb(38, 36, 48);
    color: white;
}

.dropdown-customised {
    text-align: center;
}

.videoSet {
    text-align: center;
}

#listA {
    color: royalblue;
    font-size: large;
    text-align: center;
    list-style-position: inside;
}

#listB {
    color:rgb(38, 36, 48);
    font-size: small;
    text-align: center;
    list-style-position: inside;
}

h2 {
    color: royalblue;
    text-align: center;
}

#credit {
    font-size: 13px;
    text-align: center;
}