body {
    background-color: rgb(218, 224, 222);
    font-family: 'Verdana', sans-serif;
}

p1 {
    font-size: 18px;
}

.bg-custom {
    background-color: rgb(38, 36, 48);
    color: white;
}

.dropdown-customised {
    text-align: center;
}

.videoSet {
    text-align: center;
}

.jumbotron {
    background-image: url("https://cdn.pixabay.com/photo/2019/09/23/13/11/iceberg-4498548_960_720.jpg");
    background-size: cover;
    height: 100%;
}

#listA {
    color: rgb(145, 34, 34);
    font-size: large;
    list-style-position: inside;
}

#listB {
    color:rgb(38, 36, 48);
    font-size: small;
    list-style-position: inside;
}

.imgWrap {
    float: left;
    height: 250px;
    width: 250px;
    margin-right: 20px;
    border: 3px solid rgb(38, 36, 48);
}

.imgWrapRight {
    float: right;
    height: 275px;
    width: 330px;
    border: 3px solid rgb(38, 36, 48);
}

.form-outline {
    width: 700px;
}